.container-item {
  width: 93%;
  margin: 0 auto;
}



.hero-list {
  background-image: url('./Image/herobg.jpg'); 
  background-size: cover; 
  background-position: center; 
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}




.topnav {

  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 0px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.wrapper {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  margin: 0 auto;
  padding: 25px; 
}


.topnav a.active,
.topnav a:hover {
  background: linear-gradient(90deg, rgb(5, 125, 1) 0%, rgbargb(61, 173, 1), rgba(68, 153, 20, 1) 91%);
  color: white;
}


.blink-red-border {
  animation: blink-border 1s infinite alternate;
  border: 3px solid transparent; 
}

@keyframes blink-border {
  0% {
      border-color: transparent; 
  }
  100% {
      border-color: rgb(0, 255, 60); 
  }
}



.blink-bg {
  animation: blink-bg 1s linear infinite;
  border-radius: 30px 4px;
  
}


.white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}


@keyframes scroll {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(60%);
  }

}

.scroll-text {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}





.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats {
  background-color: #f3f4f6;
  border-radius: 11px;
  padding: 11px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stat-image {
  width: 88px;
  height: 64px;
  border-radius: 8px;
}

.stat-details {
  margin-left: 20px;
}

.stat-title {
  font-size: 1.0rem;
  font-weight: bold;
  color: #333;
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
}

.arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 15px solid;
  display: inline-block;
  margin-right: 5px; 
}

.internet-box-hieght{
  height: 35vh;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; /* Adjust spacing as needed */
  /* Add any other styling for the icon */
}

/* .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
} */
 
.footer-item{
  position: absolute;
  bottom: 0; width: 100%;
}


@media screen and (max-width: 768px) {
  .footer-item {
    position: relative; /* Change to relative positioning on smaller screens */
  }
}


