.container {
  width: 80%;
  margin: auto;
}

.hero-list {
  background: rgb(5, 152, 0);
  background: linear-gradient(90deg, rgb(170, 230, 167) 0%, rgb(113, 200, 67) 35%, rgba(68, 153, 20, 1) 91%);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}




.topnav {

  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 0px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.wrapper {
  background-color: #f0f0f0; /* Set background color to gray */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin: 0 auto; /* Center the wrapper with auto margins */
  padding: 25px; /* Add padding if necessary */
}


.topnav a.active,
.topnav a:hover {
  background: linear-gradient(90deg, rgba(5, 152, 0, 1) 0%, rgba(67, 187, 0, 1) 35%, rgba(68, 153, 20, 1) 91%);
  color: white;
}



.item {
  background-color: #fdfcfc;
 
}



/* .blinking-button {
  animation: blink 1s infinite;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  height: 36px;
  border-radius: 50px 32px;
  font-weight: bold;
} */

/* Add this CSS to your stylesheet */

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }

}

.scroll-text {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.blink {
  animation: blink 3s infinite;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats {
  background-color: #f3f4f6;
  border-radius: 11px;
  padding: 11px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stat-image {
  width: 88px;
  height: 64px;
  border-radius: 8px;
}

.stat-details {
  margin-left: 20px;
}

.stat-title {
  font-size: 1.0rem;
  font-weight: bold;
  color: #333;
}

