.container-item {
  width: 93%;
  margin: 0 auto;
}

.hero-list {
  background: rgb(5, 152, 0);
  background: linear-gradient(90deg, rgb(91, 219, 84) 0%, rgb(113, 200, 67) 35%, rgba(68, 153, 20, 1) 91%);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}




.topnav {

  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 0px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.wrapper {
  background-color: #f0f0f0; /* Set background color to gray */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin: 0 auto; /* Center the wrapper with auto margins */
  padding: 25px; /* Add padding if necessary */
}


.topnav a.active,
.topnav a:hover {
  background: linear-gradient(90deg, rgb(5, 125, 1) 0%, rgbargb(61, 173, 1), rgba(68, 153, 20, 1) 91%);
  color: white;
}



.item {
  background-color: #fdfcfc;

 
}


@keyframes blink {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 33, 4, 0.7);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
  
}

/* .highlight-link:hover {
  animation: blink 1s infinite; 
} */






/* @keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
} */

/* Apply the blinking animation */
.animate-blink {
  animation: blink 1s infinite;
}







/* @keyframes blink-bg {
  0%, 100% {background-color:#0a8e59;}
  50% {background-color: #46c692;}
} */

.blink-bg {
  animation: blink-bg 1s linear infinite;
  border-radius: 30px 4px;
  /* border: 0px solid #6C8003; */
}

/* Assuming the 'white' class is defined as follows in your Tailwind CSS configuration */
.white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}


@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(70%);
  }

}

.scroll-text {
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}





.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats {
  background-color: #f3f4f6;
  border-radius: 11px;
  padding: 11px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stat-image {
  width: 88px;
  height: 64px;
  border-radius: 8px;
}

.stat-details {
  margin-left: 20px;
}

.stat-title {
  font-size: 1.0rem;
  font-weight: bold;
  color: #333;
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
}

.arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* border-right: 8px solid black; */ /* Adjust color and size as needed */
  border-left: 15px solid;
  display: inline-block;
  margin-right: 5px; /* Adjust spacing as needed */
}


